.N1 {
    background-color: blue;
    width: 200px;
    padding: 3px;
  }
  
  .N2 {
    background-color: orange;
    width: 200px;
    padding: 3px;
  }
  
  .N3 {
    background-color: yellow;
    width: 200px;
    padding: 3px;
  }
  
  .N4 {
    background-color: brown;
    width: 200px;
    padding: 3px;
  }
  
  .N5 {
    background-color: blue;
    width: 200px;
    padding: 3px;
  }
  
  .N6 {
    float: right;
    width: 200px;
    padding: 3px;
    background-color: green;
    text-align: right;
  }
  
  .N7 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    padding: 3px;
    background-color: pink;
  }
  
  .N8 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 3px;
    background-color: purple;
  }
  
  /* Divs com cores diferentes e forma redonda */
  .N9 {
    background-color: red;
    width: 200px;
    padding: 10px;
    border-radius: 50%; /* Torna a div redonda */
  }
  
  .N10 {
    background-color: cyan;
    width: 200px;
    padding: 10px;
    border-radius: 20px; 
  }

  .menu {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #000000; 
  }
  
  /* Estilos para a Imagem com Texto */
  .image-with-text {
    text-align: right;
    padding: 20px;
  }
  
  .image-with-text img {
    float: left;
    margin-right: 20px;
  }
  
  .image-with-text p {
    text-align: left;
  }
  
  